body {
    font-family: "source-sans";
}

/* nav */

nav.navbar {
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
}

nav.navbar li {
    margin-right: 10px;
}

nav.navbar .animate__bounceIn {
    -webkit-animation: bounceIn 2s ease infinite alternate;
    animation: bounceIn 2s ease infinite alternate;
}

/* nav */

/* hero */

.hero {
    padding-top: 60px;
    height: 100vh;
    width: 100%;
}

.hero h2 {
    font-family: playfair-display;
    margin-bottom: 10px;
}

.hero p {
    line-height: 2;
    font-size: 16px;
}

.hero .btn-start {
    margin-top: 8px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 10px 30px;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
    box-shadow: 0px 2px 8px #3a7bd5;
    border: none;
}

.hero .btn-start:hover {
    background: linear-gradient(-45deg, #00d2ff, #3a7bd5);
}


@media (max-width:575px) {

    .hero h2,
    .hero p {
        text-align: center;
    }

    .hero h2 {
        font-size: 25px;
    }

    .hero p {
        font-size: 15px;
    }

    .hero .btn-start {
        margin: auto;
    }
}

/* hero */
/* services */

.services {
    padding: 30px 0 40px 0;
    background: #F5F8FD;
    margin-top: -20px;
}

.services .section-header h3 {
    font-family: "playfair-display", serif;
}

.services .section-header {
    margin-bottom: 30px;
}

.services p {
    font-size: 16px;
    line-height: 2;
}

.services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 30px 10px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(68, 88, 144, .1);
    transition: all .3s ease-in-out;
    text-align: center;
}

.services .box:hover {
    transform: scale(1.1);
}

.services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.services .icon i {
    font-size: 36px;
    line-height: 1;
}

.services .title {
    transition: .3s;
}

.services .box:hover .title {
    color: #1bb1dc;
}

/* services */
/* cta */

.cta {
    margin-top: 30px;
}

.cta h3,
.why h3 {
    font-size: 25px;
    font-family: "playfair-display", serif;
}

.cta ul,
.why ul {
    list-style-type: none;
    padding: 0;
}

.cta ul li {
    padding-bottom: 10px;
}

.cta ul i,
.why ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #1bb1dc;
}

@media (min-width: 768px) and (max-width:1024px) {
    .cta .row-content img {
        padding-top: 100px;
    }
}

/* cta */
/* why */

.why {
    margin-top: 20px;
}

.why ul li {
    padding-bottom: 20px;
}


@media (min-width: 768px) and (max-width:1024px) {
    .why .row-content img {
        padding-top: 80px;
    }
}

/* why */
/* pricing */
.pricing {
    background: #F5F8FD;
    padding: 30px 0;
}

.pricing .section-title h2 {
    font-size: 25px;
    font-family: "playfair-display", serif;
}

.pricing .box h3 {
    color: #2d405f;
    font-weight: 500;
    padding: 15px;
    font-family: "playfair-display", serif;
}

.pricing .box h4 {
    font-size: 30px;
    color: #3A7BD5;
    margin-bottom: 20px;
    font-weight: 500;
}

.pricing .box h4 span {
    color: #bababa;
    font-size: 15px;
    font-weight: 300;
}

.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 8px;
}

.pricing .box ul {
    padding: 0;
    list-style-type: none;
    color: #2d405f;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

.pricing .box ul li {
    padding-bottom: 16px;
}

.pricing .box .btn-wrap {
    padding: 10px;
    text-align: center;
    margin-top: -20px;
}

.pricing .box .btn-buy {
    background: #eceefe;
    color: #3b4efb;
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 5px;
    transition: .3s;
    font-size: 14px;
    font-weight: 400;
}

.pricing .box .btn-buy:hover {
    text-decoration: none;
    color: #fff;
}

.pricing .featured {
    background: #3a7bd5;
    box-shadow: none;
}

.pricing .featured h3,
.pricing .featured h4,
.pricing .featured ul {
    color: #fff;
}

.pricing .featured .btn-buy {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.pricing .featured .btn-buy:hover {
    color: #fff;
}

.pricing .box ul li.na {
    color: #ccc;
    text-decoration: line-through;
}

/* pricing */
/* about */

.about h2 {
    font-family: "playfair-display", serif;
    font-size: 25px;
}

@media (min-width:768px) and (max-width:1024px) {
    .about img {
        margin-top: 30px;
    }
}

/* about */
/* faq */

.faq {
    padding: 50px 0;
}

.faq .section-title h2,
.contact .section-title h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "playfair-display", serif;
}

.faq .faq-list li {
    list-style-type: none;
    padding: 0 0 20px 25px;
}

.faq .faq-list a {
    display: block;
    position: relative;
    color: #343a40;
    font-size: 20px;
    font-weight: 300;
}

.faq .faq-list i {
    font-size: 20px;
    position: absolute;
    left: -25px;
    top: 6px;
}

.faq .faq-list p {
    margin-bottom: 10px;
    font-size: 16px;
}

.faq .faq-list a.collapsed:hover {
    color: #3A7BD5;
    text-decoration: none;
}

@media (max-width:575px) {
    .faq-list {
        margin-left: -20px;
    }

    .faq-list a.collapsed {
        color: #3A7BD5;
    }
}

/* faq */
/* contact */

.contact .info-box {
    color: #444444;
    text-align: center;
    padding: 20px 0 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    transition: .3s;
}

.contact .info-box i {
    font-size: 32px;
    color: #3A7BD5;
    padding: 8px;
}

.contact .info-box h3 {
    font-size: 24px;
    color: #2c4964;
    font-weight: 600;
    margin: 10px 0;
}

.contact .info-box a {
    color: #000;
}

.contact .info-box a:hover {
    text-decoration: none;
    color: #3A7BD5;
}

.contact .info-box:hover {
    transform: scale(1.1);
}

/* contact */
/* footer */

.newsletter {
    margin-top: 40px;
    padding: 5px 0 20px 0;
    background-color: #f3f5fa;
    text-align: center;
    color: #000;
}

.newsletter h4 {
    color: #3A7BD5;
}

.newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .2);
}


.newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

.newsletter form input[type=email]:focus {
    outline: none;
}

.newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    background: none;
    font-size: 15px;
    padding: 0 20px;
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
    color: #fff;
    transition: .3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
}

.newsletter form input[type="submit"]:hover {
    background: linear-gradient(-45deg, #00d2ff, #3a7bd5);
}

.social-links {
    margin-top: 25px;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #eaecef;
    color: #3a7bd5;
    line-height: 1;
    padding: 8px 0;
    margin-right: 3px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: .3s;
}

.social-links a:hover {
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    border-top: 1px solid #d9dce2;
    position: relative;
    padding-top: 27px;
    padding-bottom: 10px;
}

.copyright {
    float: left;
    font-size: 14px;
    color: #444;
}


.credits {
    float: right;
    font-size: 14px;
    color: #444;
}

@media (max-width:992px) {

    .copyright,
    .credits {
        float: none;
    }
}

/* footer */
/* preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff
}

.preloader::before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #3A7BD5;
    border-top-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    to {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    to {
        transform: rotate(360deg);
    }
}

/* preloader */

/* Back to top */

.back-to-top {
    position: fixed;

    right: 15px;
    bottom: 15px;
    z-index: 999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
    color: #fff;
    transition: all .4s;
}

/* Back to top */
/* modal */

.modal-content .modal-header h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.modal-content .modal-footer .btn {
    padding: 5px 20px 5px 20px;
    background: linear-gradient(45deg, #00d2ff, #3A7BD5);
    color: #fff;
    margin: auto;
    border-radius: 50px;
    border: none;
}

/* modal */

@font-face {
    font-family: "playfair-display";
    src: url(../fonts/playfair-display-v21-latin-regular.woff) format("woff");
}

@font-face {
    font-family: "source-sans";
    src: url(../fonts/source-sans-pro-v14-latin-regular.woff) format("woff");
}